html
    head
        title= title
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons")
        link(rel="stylesheet" href="/bootstrap-material-design/css/bootstrap-material-design.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/css/bootstrap-slider.min.css")
        link(rel="stylesheet", href="/docs.min.css")
        script(src="https://code.jquery.com/jquery-3.3.1.min.js")
        script(src="https://cdn.rawgit.com/HubSpot/tether/v1.3.4/dist/js/tether.min.js")
        script(src="https://unpkg.com/popper.js@1.14.1/dist/umd/popper-utils.min.js")
        script(src="https://unpkg.com/popper.js@1.14.1/dist/umd/popper.min.js")
        script(src="/bootstrap-material-design/js/bootstrap-material-design.min.js")
        script(src="https://cdn.rawgit.com/FezVrasta/snackbarjs/1.1.0/dist/snackbar.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.5/wavesurfer.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/bootstrap-slider.min.js")

        style.
            body{
                //background-image: url('/img/signInBg.jpg');
                background-repeat: no-repeat;
                background-size: cover; 
            }
    
    body
        #app
        block content

    script.
        $('body').bootstrapMaterialDesign();