/*body {
	background-color: grey;
	color: whitesmoke;
}*/

span {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

span.innerShadow {
	color: black;
	text-align: center;
	vertical-align: middle;
	background-color: transparent;
	border-color: black;
	border-style: solid;
	border-width: 1px;
}
